<div class="row">
    <div class="col-12">
        
        <form ng-submit="ictrl.sacuvaj()" name="izmenaKorisnika">
            <div class="form-group">
                <label for="username">username:</label>
                <!--
                    Sadrzaj elemenata forme se moze uvezati za promenljivu
                    u kontroleru upotrebom direktive ng-model. Ovakav vid
                    uvezivanja promenljivih predstavlja dvosmerno uvezivanje.
                    To znaci da se promenom sadrzaja elementa forme automatski
                    menja i sadrzaj objekta. Takodje promene u objektu izazivaju
                    automatsko azuriranje vrednosti prikazanih u formi.

                    Direktivom ng-class elementi se mogu uslovno stilizovati.
                    Ova direktiva prima objekat ciji kljucevi predstavljaju
                    klase koje treba primeniti a vrednosti izraze cijim izracunavanjem
                    se dobijaju tru ili false vrednosti. Ukoliko je vrednost izraza
                    true primenice se klase navedene u kljucu, u suprotnom nece.
                    U ovom primeru polje za unos usernamea proizvoda se stilizuje
                    klasom is-invalid ukoliko je polje username iz forme proizvodForma nevalidno.
                -->
                <input  type="text" name="username" id="username"
                    class="form-control" ng-model="ictlr.noviKorisnik.username" required>
            </div>
             <!-- <div class="form-group">
                <label for="password">password:</label>
                <input ng-class="{'is-invalid': izmenaKorisnika['password'].$invalid}" type="text" type="password" name="password" id="password"
                class="form-control" ng-model="ictlr.noviKorisnik.password" required>
            </div> -->
            <div class="form-group">
                <!--
                    Prikaz dugmeta zavisi od toga da li proizvod ima zadat id ili ne,
                    odnosno od toga da li se vrsi izmena postojeceg ili dodavanje
                    novog proizvoda.
                -->
                <input type="submit" ng-if="ictlr.noviKorisnik['idkorisnika']" value="Izmeni korisnika" class="btn btn-primary">
            </div>
        </form>
        <p ng-model="ictrl.ime"></p>
    </div>
</div>