<div class="card" style="width: 18rem;">
    <img src="{{ctrlp.igra.slika}}" class="card-img-top" alt="slike">
    <div class="card-body">
      <h5 class="card-title">{{ctrlp.igra.naziv}}</h5>
      <p class="card-text">{{ctrlp.igra.zanr}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Platforma : {{ctrlp.igra["konzole.naziv"]}}</li>
      <li class="list-group-item">Cena : {{ctrlp.igra.cena}}</li>
     <!--  <li><a ui-sref="izmenaIgrice({id: ctrlp.igra['idigrice']})">Izmeni</a></li> -->
    </ul>
  </div>