<div class="row">
    <!--
        Kontroler se vise ne vezuje pomocu ng-controller direktive.
        Kontroler ce biti uvezan od strane ui-routera na osnovu
        konfiguracije stanja.
    -->
    <div class="col-md-12">
        <form class="form-inline my-2 my-lg-0" ng-submit="pctrl.search()">
            <input class="form-control mr-sm-2" type="search" ng-model="pctrl.query" placeholder="naziv"
                aria-label="Search">
            <input class="form-control mr-sm-2" type="search" ng-model="pctrl.queryzanr" placeholder="zanr"
            aria-label="Search">
        </form>
    </div>
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Redni broj</th>
                    <th>Naziv</th>
                    <th>Zanr</th>
                    <th>Cena</th>
                    <th>Konzola</th>
                    <!-- Ako imas korisnika (admin) u $rootScope znaci da je logovan i treba da vidi 
                    ovde akcije -->
                    <th ng-if="pctrl.korisnik">Obrisi</th>
                    <th ng-if="pctrl.korisnik">Izmeni</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in pctrl.igrice | filter: {naziv: pctrl.query, zanr: pctrl.queryzanr}">
                    <td><a ui-sref="prikaz({id: p['idigrice']})"><img src="{{p.slika}}" alt="slike" height="200px"
                                width="200px" class="img-polaroid"></a></td>
                    <td>{{$index+1}}.</td>
                    <td><a ui-sref="igrice({id: p['idigrice']})">{{p["naziv"]}}</a></td>
                    <td>{{p["zanr"]}}</td>
                    <td>{{p["cena"]}}</td>
                    <td>{{p["konzole.naziv"]}}</td>
                    <!-- Ovde sam obrisao onaj tvoj $rootScope.korisnik -->
                    <td ng-if="pctrl.korisnik"><button class="btn btn-danger" ng-click="pctrl.ukloniIgricu(p['idigrice'])">Obrisi</button></td>
                    <td ng-if="pctrl.korisnik"><a ui-sref="izmenaIgrice({id: p['idigrice']})">Izmeni</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>