<div>
    <div class="row">
        <div class="col-12">
            <div ng-if="lctrl.status == 'neuspesno'" class="alert alert-danger" role="alert">
                Korisnik sa zadatim podacima nije pronađen. Pokušajte ponovo.
            </div>
            <div ng-if="lctrl.status == 'prijavljen'" class="alert alert-success" role="alert">
                Korisnik uspešno prijavljen.
            </div ng-if="neuspesno">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form ng-if="!lctrl.korisnik" ng-submit="lctrl.login()" name="loginForma">
                <div class="form-group">
                    <label for="naziv">Korisničko ime:</label>
                    <input ng-class="{'is-invalid': loginForma['username'].$invalid}" type="text"
                        name="username" id="username" class="form-control"
                        ng-model="lctrl.noviKorisnik.username" required>
                </div>
                <p ng-model="lctrl.noviKorisnik.username"></p>
                <div class="form-group">
                    <label for="naziv">password:</label>
                    <input ng-class="{'is-invalid': loginForma['password'].$invalid}" type="password" name="password"
                        id="password" class="form-control" ng-model="lctrl.noviKorisnik.password" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Prijava" class="btn btn-primary">
                </div>
            </form>
            <button ng-if="lctrl.korisnik" class="btn btn-primary" ng-click="lctrl.logout()">Odjava</button>
        </div>
    </div>
</div>