<div class="row">
    <div class="col-12">
        
        <form ng-submit="pctrl.sacuvaj()" name="igricaForma">
            <div class="form-group">
                <label for="naziv">Naziv:</label>
                <!--
                    Sadrzaj elemenata forme se moze uvezati za promenljivu
                    u kontroleru upotrebom direktive ng-model. Ovakav vid
                    uvezivanja promenljivih predstavlja dvosmerno uvezivanje.
                    To znaci da se promenom sadrzaja elementa forme automatski
                    menja i sadrzaj objekta. Takodje promene u objektu izazivaju
                    automatsko azuriranje vrednosti prikazanih u formi.

                    Direktivom ng-class elementi se mogu uslovno stilizovati.
                    Ova direktiva prima objekat ciji kljucevi predstavljaju
                    klase koje treba primeniti a vrednosti izraze cijim izracunavanjem
                    se dobijaju tru ili false vrednosti. Ukoliko je vrednost izraza
                    true primenice se klase navedene u kljucu, u suprotnom nece.
                    U ovom primeru polje za unos naziva proizvoda se stilizuje
                    klasom is-invalid ukoliko je polje naziv iz forme proizvodForma nevalidno.
                -->
                <input ng-class="{'is-invalid': igricaForma['naziv'].$invalid}" type="text" name="naziv" id="naziv"
                    class="form-control" ng-model="pctrl.novaIgrica.naziv" required>
            </div>
            <div class="form-group">
                <label for="cena">Cena:</label>
                <input ng-class="{'is-invalid': igricaForma['cena'].$invalid}" type="number" name="cena" id="cena"
                class="form-control" ng-model="pctrl.novaIgrica.cena" required>
            </div>
            <div class="form-group">
                <label for="zanr">Zanr:</label>
                <input ng-class="{'is-invalid': igricaForma['zanr'].$invalid}" type="text" name="zanr" id="zanr"
                class="form-control" ng-model="pctrl.novaIgrica.zanr" required>
            </div>
            <div class="form-group">
                <label for="idkonzole">Konzola:</label>
                <!--
                    Za popunjavanje select polja podacima koristi se direktiva
                    ng-options. Sadrzaj ng-options direktive je deklaracija petlje
                    kojom se prolazi kroz iterabilni objekat i kojom se kreiraju
                    option elementi u selekt elementu. U konkretnom primeru
                    kreiraju se option elemnti cija vrednost predstavlja id svake
                    kategorije dok je naslov svakog option elementa nazvi kategorije.
                    Kategorije se dobavljaju iz kolekcije kategorije iz kontrolera pctrl.
                    Vrednost option elementa moze biti bilo koji objekat, ne mora biti
                    prost tip.

                    Direktivom ng-model postignuto je dvosmerno uvezivanje atributa kategorija
                    iz objekta noviProizvod sa vrednoscu select polja. Promena select polja
                    odrazice se na promenu atributa kategorija u objektu noviProizvod i obratno.
                    Vrednost koja ce pri promeni vrednosti select polja biti zapisana u atribut
                    kategorija u objektu noviProizvod je id odabrane kategorije.
                -->
                <select class="form-control" id="idkonzole" name="idkonzole"
                    ng-options="konzola.idkonzole as konzola.naziv for konzola in pctrl.konzole"
                    ng-model="pctrl.novaIgrica.idkonzole">
                </select>
            </div>
            <div class="form-group">
            <label for="Slika">Slika:</label>
            <input ng-class="{'is-invalid': igricaForma['slika'].$invalid}" type="text" name="slika" id="slika"
            class="form-control" ng-model="pctrl.novaIgrica.slika" required>
            </div>
            <div class="form-group">
                <!--
                    Prikaz dugmeta zavisi od toga da li proizvod ima zadat id ili ne,
                    odnosno od toga da li se vrsi izmena postojeceg ili dodavanje
                    novog proizvoda.
                -->
                <input type="submit" ng-if="pctrl.novaIgrica['idigrice']" value="Izmeni proizvod" class="btn btn-primary">
                <input type="submit" ng-if="!pctrl.novaIgrica['idigrice']" value="Dodaj proizvod" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>